parameters:
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/Application/Controller/Admin/ModuleConfiguration.stub
        - stubs/Application/Model/Payment.stub
    level: 8
    scanFiles:

